#logo {
    background: linear-gradient(222deg, #85ef70, transparent);
    height: 200px;
    padding: 20px;
    font-size: large;
    font-family: cursive;
    font-weight: 400;
    color: #472d2d;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.down {
    margin-top: 1.5rem;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hire {
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #d7cece;
    background: linear-gradient(289deg, rgb(208 83 18 / 80%), #000000ed);
    font-size: 10px;
    box-shadow: rgb(102 82 82) 10px 15px 25px;
    font-weight: 500;
    letter-spacing: 2px;
}

.hire:hover {
    background: #39ace7;
    color: #000;
    transition: all ease-in-out .5s;
}

.download {
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #d7cece;
    background: linear-gradient(289deg, rgb(208 83 18 / 80%), #000000ed);
    font-size: 10px;
    box-shadow: rgb(102 82 82) 10px 15px 25px;
    font-weight: 500;
    letter-spacing: 2px;
}


.download:hover {
    background: #39ace7;
    color: #000;
    transition: all ease-in-out .5s;
}

.textBox {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.textBox span{
    display: inline-block;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 8000s steps(30, end), ripple 1s ease-out;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100% }
}

@keyframes ripple {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.textBox::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(255, 165, 0, 0.5);
    opacity: 0;
    transition: width 0.5s ease-out, height 0.5s ease-out;
}

.textBox:hover::after {
    width: 200%;
    height: 200%;
    opacity: 1;
}