.MobilnavMenu {
    display: none;
  }

.menu {
  display: none;
}

@media screen and (max-width: 700px) {
    .navMenu .logo {
         color:red;
        z-index: 100;
       }
     
    .MobilnavMenu {
      display: flex;
      flex-direction: column; 
      align-items:center;
      background :#55E739;
       height: 100vh;
       width: 100%;
       position: fixed;
       padding-top: 70px;
       margin-top: 12.5rem;
       top: 0px;
    }

    .MobilnavMenu a {
      color: #000;
      font-size: 1.1rem;
      padding: 0.9rem;
      font-weight: 800;
      border-radius: 50%;
    } 
    
    
.MobilnavMenu a:hover {
  background: rgba(231, 116, 57, 0.8);
  border-radius : 50%;
  transition: all ease-in-out .5s;
  
}

.mbg {
      display: flex;
      flex-direction: column; 
      align-items:center;
      background: #39ace7;
      justify-content: space-between;
      gap: 20px;
      width: 300px;
      height: 60vh;
      margin: 0 auto;
      padding: 5.7rem 1.7rem;
      border-radius: 20px;    
    }
  
    .navMenu a {
    color: #000;
    font-size: 1.1rem;
    padding: 0.9rem;
    font-weight: 800;
    border-radius: 50%;
  } 
  
  .navMenu li a {
    color: #fff;
    font-size: 20px;
  }
  
  .menu {
    position: fixed;
    display: block;
    top: 11.2rem; 
    left: 0px;
    padding: 10px;
    font-size: 20px;
    z-index: 10;
    background: transparent;
    border: none;
    margin: auto;
    width: 100%;
    cursor: pointer;
    /* transform: translate(-50%, -50%); */
  }
       
  }